.navContainer {
	background-color: #333;
	display: flex;
	justify-content: space-evenly ;
    gap: 1rem ;
	align-items: center;
	height: 60px;
}

.navLink {
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	transition: background-color 0.3s;
}

.navLink:hover {
	background-color: #555;
}

.activeLink {
	color: #6c5ca0;
}