.navContainer {
	background: linear-gradient(
		90deg,
		hsla(213, 77%, 14%, 1) 0%,
		hsla(202, 27%, 45%, 1) 100%
	);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-around;
	gap: 1rem;
	align-items: center;
	height: 4rem;
	z-index: 100;
}

.navPrincipalBtns {
	display: flex;
	justify-content: space-evenly;
	gap: 4rem;
}

.logs {
	display: flex;
	gap: 1rem;
}

.navLink {
	border-radius: 3px;
	color: white;
	font-weight: bold;
	letter-spacing: 0.2rem;
	text-decoration: none;
	padding: 0.5rem 1rem;
	transition: background-color 0.3s;
}

.navLink:hover {
	background-color: #0968e5;
}

.activeLink {
	color: rgb(230, 218, 218);
	transform: scale(1.1);
	font-weight: bolder;
	letter-spacing: 0.2rem;
	padding: 10px 20px;
	background-color: #0968e5;
	border-radius: 0.5rem;
}

.logoText {
	color: #fff;
	text-decoration: none;
	margin-left: 5px;
}

.atomIcon {
	color: #ffd900b3;
	font-size: 1.2rem;
}

.logOutButton {
	background-color: #555;
	color: #fff;
	font-size: 1rem;
	padding: 8px 17px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.button:hover {
	background-color: #555;
}
