.card {
	width: 18vw;
	background-color: #f8f8f8;
	border-radius: 8px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin: 10px;
	max-width: 400px;
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
	transform: translateY(-4px);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
	color: #333;
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.description,
.type,
.priority,
.status {
	color: #666;
	font-size: 1rem;
	margin: 5px 0;
}

.description {
	font-style: italic;
}

.type {
	color: #00aaff;
}

.priority {
	color: #ffaa00;
}

.status {
	color: #33aa33;
}
