.card {
	border: none;
	border-radius: 4px;
	padding: 1rem 2rem;
	margin: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	text-shadow: 0.1rem 0.1rem 0.7rem rgba(0, 0, 0, 0.8);
	/* Agrega posición relativa al contenedor */
	position: relative;
}

.cardContent {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.column {
	/* flex: 1; */
	/* display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center; */
	/* align-items: center; */
	padding: 0 1rem;
	width: 20vw;
}

.notStarted {
	background-color: #1e6091;
}

.inProgress {
	background-color: #52b69a;
}

.completed {
	background-color: #99d98c;
}
.closed {
	background-color: #d9ed92;
}

.detailButton {
	font-size: 1rem;
	padding: 1rem 2rem;
	background-color: #888;
	color: #fff;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.detailButton:hover {
	background-color: #555;
}

.type {
	margin: 0.5rem 0;
	font-weight: bold; /* Añadir negrita para la clave "Type" */
}

.priority,
.status,
.title,
.description,
.userName,
.createdAt {
	margin: 0.5rem 0;
}
