/* Estilos para el fondo del formulario */
.formBackground {
  background-color: #003399;
}

/* Estilos para el contenedor del formulario */
.formContainer {
  display: block;
  border: solid #FF6600 5px; /* Borde naranja (#FF6600) de 5px */
  background-color: rgba(22, 133, 213, 0.733); /* Azul (#1685D5) de opacidad 0.733 */
  border-radius: 10px;
  width: 400px;
  padding: 30px;
  margin: 200px auto;
}

/* Estilos para los inputs y el botón del formulario */
.formInputs,
.formButton {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
  box-sizing: border-box; /* Asegura que el padding y el borde no afecten el ancho */
}

/* Estilos para el botón de submit */
.formButton {
  background-color: #FF6600; /* Color naranja para el botón */
  color: #FFFFFF; /* Texto en color blanco para resaltar */
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
}

/* Estilos para el hover del botón de submit */
.formButton:hover {
  background-color: #FF9933; /* Cambia a un tono más claro de naranja en el hover */
  transform: scale(1.1); /* Aumenta el tamaño del botón en un 10% en el hover */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Agrega una transición suave al hover */
}

.formLabels {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #FF6600; /* Color naranja para los labels */
}

/* Estilos para los mensajes de error */
.errors {
  color: #FFCC00;
  font-size: 14px;
  margin-top: 5px;
}

.customInput {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #FF6600; /* Borde naranja (#FF6600) de 2px */
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Asegura que el padding y el borde no afecten el ancho */
  color: #000; /* Color de texto negro */
  background-color: #FFF; /* Fondo blanco */
}

/* Estilos para los inputs del formulario cuando están enfocados */
.customInput:focus {
  outline: none; /* Quita el contorno predeterminado del foco */
  border-color: #FF9933; /* Borde más claro (#FF9933) al estar enfocado */
}
