.searchbar {
  display: flex;
  width: 30%; /* Ajusta el ancho según tus necesidades */
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #f5f5f5; /* Color de fondo */
  border: 1px solid #ddd; /* Borde */
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.searchbar input {
  flex: 1;
  padding: 0.6rem;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem; /* Tamaño de fuente similar al de Contact.module.css */
  background-color: #FFFFFF;
}

.searchButton {
  background-color: #444;
  color: #fff;
  font-size: 1rem;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #555;
}