.container {
	margin: 0 auto;
	color: white;
}

.title {
	font-size: 2.5rem;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	padding-top: 5rem;
	margin-bottom: 6rem;
}

.box1,
.box2 {
	height: 100vh;
	display: flex;
	gap: 3rem;
	align-items: center;
	line-height: 1.5;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0 5rem;
}

.box2 {
	flex-direction: row-reverse;
}

.description {
	font-size: 1.2rem;
	/* margin-bottom: 20px; */
}

img {
	width: 40rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.5rem;
}

div section:nth-child(even) {
	background: linear-gradient(
		90deg,
		hsla(186, 33%, 94%, 1) 0%,
		hsla(216, 41%, 79%, 1) 100%
	);
	color: black;
}

.contactImg {
	padding: 5rem 0;
	text-align: center;
}

.contactLink {
	display: inline-block;
	border-radius: 0.4rem;
	letter-spacing: 0.5rem;
	background-color: black;
	font-weight: bold;
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.5rem;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	color: white;
	padding: 1rem 2rem;
}

.contactLink:hover {
	background: linear-gradient(
		90deg,
		hsla(186, 33%, 94%, 1) 0%,
		hsla(216, 41%, 79%, 1) 100%
	);
	color: black;
}

.contactParagraph {
	font-style: italic;
	font-size: 1.1rem;
	font-weight: bold;
}
