/* CombinedStyles.css */

/* Contenedor de tickets */

.dashboard-container {
	max-width: 100%;
	margin: 2rem auto 0;
	padding: 4vh 0;
	display: flex;
	flex-direction: column;
}

.tile-searchBar-container {
	padding: 0rem 2rem 2rem 2rem;
	align-items: center;
	flex-direction: column;
	display: flex;
	gap: 1.5rem;
	justify-content: center;
}

.ticket-container {
	display: flex;
	flex-direction: row;
	border: 1px solid #ccc;
	margin: 0 2rem;

	border-radius: 4px;
	font-size: 1rem;
	color: #333;
}

.span-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4vh;
	padding: 0rem 2rem 2rem 2rem;
}

.span-item {
	font-size: 1.3rem;
	color: white;
	text-align: start;
	padding-left: 2rem;
	letter-spacing: 0.1rem;
	font-weight: bold;
	text-transform: uppercase;
}

/* Elemento de ticket */
.ticket-item {
	flex: 1;
	padding: 10px;
	border-right: 1px solid #ccc;
	background-color: #f5f5f5;
	/* Fondo más claro */
	font-weight: normal;
	/* Peso de fuente en negrita */
}

/* Elimina el borde derecho del último elemento de ticket */
.ticket-item:last-child {
	border-right: none;
}

/* Encabezado del dashboard */
.dashboard-header {
	display: flex;
	flex-direction: row;
	color: #333;
	border: 1px solid #ccc;
	margin: 0 2rem;
}

/* Elemento del encabezado del dashboard */
.dashboard-header div {
	flex: 1;
	padding: 10px;
	border-right: 1px solid #706f6f;
	background-color: #d6cece;
	font-weight: bold;
}

.dashboard-header div:last-child {
	border-right: none;
}

.dashboard-title {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	font-size: 1.3rem;
	color: white;
	text-align: start;
	letter-spacing: 0.3rem;
	font-weight: bold;
	text-transform: uppercase;
}

.buttonRefresh {
	background: linear-gradient(
		90deg,
		hsla(211, 100%, 28%, 1) 0%,
		hsla(236, 100%, 8%, 1) 100%
	);
	color: #fff;
	font-size: 1rem;
	padding: 1em 2em;
	border: none;
	margin-left: 1rem;
	border-radius: 0.2rem;
	cursor: pointer;
	transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

.buttonRefresh:hover {
	background: linear-gradient(
		90deg,
		rgb(9, 19, 160) 0%,
		rgb(15, 108, 207) 100%
	);
	transform: scale(1.05);
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

/* Estilos para móviles */
@media screen and (max-width: 768px) {
	.dashboard-container {
		margin: 1rem auto 0;
		padding: 2rem 0;
		width: 100vw;
	}

	.tile-searchBar-container {
		padding: 0 1rem 1rem 1rem;
	}

	.ticket-container {
		margin: 0 1rem;
		flex-direction: column;
	}

	.span-container {
		padding: 0 1rem 1rem 1rem;
	}

	.span-item {
		font-size: 1rem;
		padding-left: 1rem;
	}

	.ticket-item {
		padding: 8px;
	}

	.dashboard-header {
		margin: 0 1rem;
	}

	.dashboard-header div {
		padding: 8px;
	}

	.dashboard-title {
		font-size: 1rem;
		letter-spacing: 0.2rem;
	}

	.buttonRefresh {
		font-size: 0.8rem;
		padding: 0.8em 1.6em;
		margin-left: 0.5rem;
	}
}
