/* Dashboard.module.css */

.title {
	font-size: 24px;
	margin-bottom: 20px;
  }
  
  .container {
	display: flex;
	flex-direction: column;
  }
  
  .columnHeaders {
	display: grid;
	grid-template-columns: repeat(7, 1fr); /* Ajusta el número de columnas según tus necesidades */
	font-weight: bold;
	background-color: #f0f0f0;
	padding: 8px;
	margin-bottom: 10px;
  }